#app{
  width: 50%
}
#app label {
  margin-right: 5px
}
#app span{
  font-size: small
}
#app input{
  width: 100%
}
.barra-progresso{
  height: 3px;
  width: 100%;
  margin-top: 2pt;
}
.progresso{
  height: 100%;
}